<label>Server Name :</label> 
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)">  -->
<input type="text" class="form-control" [(ngModel)]="serverName"> 
<p> {{serverName}}</p>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<br><br>
<p *ngIf="serverCreated" >{{serverName}} --- {{serverCreationStatus}}</p>
<!-- <div *ngFor='let server of servers;let index = index'>{{index + 1}}---{{server}}</div> -->
<app-server *ngFor='let server of servers' ></app-server>